<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to root_path, class:"" do %>
     <p>enka</p>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'エンカシェアとは？', about_path %></li>
      </ul>
    </nav>
  </div>
</header>
